*.csr
*.crt
*.key
# Add these lines to the .gitignore in each directory with a Makefile

# Temporary build-tools artifacts to be ignored
/.go/
/.gotmp/
/bin/
/.container*
/.push*
/linux
/darwin
/windows
/.dockerfile
/VERSION.txt
/.docker_image
/vendor


# requirements.lock would be created by `helm dep build` if we need to do that.
requirements.lock
